.fieldset {
  margin-top: 20px;
  max-width: 360px;
  position: relative;
  height: 50px;

  &-label {
    font-weight: 400;
    color: #343e48;
    width: 100%;
    position: absolute;
    top: -12px;

    small {
      width: 100%;
      display: block;
      line-height: 1em;
    }
  }

  &-basic-input {
    width: 100%;

    &-filled {
      margin-top: 5px;
      background: #f2f4f7;
      border-radius: 8px;
      padding: 1rem 1.25rem;
      box-sizing: border-box;
      border: none;
    }
  }

  &-feedback {
    margin-top: 0.25rem;
    font-size: 0.7625rem;
    color: #ff3a3a;
    position: absolute;
    line-height: 11px;
    padding-top: 2px;

    & > * {
      display: block;

      & + * {
        margin-top: 0.15rem;
      }
    }
  }
}

.datepicker-input {
  position: relative;

  mat-datepicker-toggle {
    position: absolute;
    right: 40px;
    top: 7px;
  }
}