.dialog {
  padding: 4rem 2rem 2rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  cursor: pointer;
  float: right;
  margin: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.text-center {
  text-align: center;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

