.inner-section {
  margin: 1.25rem 3rem;
  height: auto;
  background: #ffffff;
  box-shadow: -1px 3px 20px 1px rgba(33, 44, 55, 0.08);
  border-radius: 0.625rem;
  flex: 1 0 0;
  overflow: auto;
  padding: 1.5rem 1rem;
}